modules = ["nodejs-24", "bun-1"]

[[artifacts]]
id = "apps/api-server"

[[artifacts]]
id = "apps/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["bun", "install", "--production"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "BUN"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MPP_SECRET_KEY = "0x69edba5fec782ceeedd0aa74ef62bd71a4088e751213ef054c92b630b0434317"
